<!--Main component for a primary marketing message or call to action -->
<section data-ng-controller="InventoryController"
         data-ng-init="find()">
<div class="container">
    <div class="row-fluid">
        <div class="hero-unit text-center">
          <div>
            <h1><span class="highlight">Norbert's</span><br/>Inventory System</h1><br/>
          </div>
          <div>
            <a href="#!/inventory/locations">
              <img src="../img/norberts.png" width="250px" height="auto" alt="Norbert's Pizza"/>
            </a>
          </div>
        </div>
    </div>
</div>

</section>




    