<!--Main component for a primary marketing message or call to action -->
<section data-ng-controller="InventoryController"
         data-ng-init="find()">
    
    <div class="row-fluid">

      <div class="span9">
        <div class="hero-unit">
          <div id="mainTitle">
            <h1 id="originalTitle">Norbert's Inventory</h1>
          </div>
          <div id="callOut">
            <h2 class="text-center"><span class="highlight">Woohoo Inventory!</span></h2><br/>
            <p class="text-center">
            <a href="#!/inventory/list" 
               role="button" 
               id="getStartedButton" 
               class="btn btn-large btn-info">
               Inventory &raquo;
            </a>
            </p>
          </div>
        </div>
      </div>
    </div>

</section>




    