        <div>
                <button type="button"
        		class="btn btn-primary"
        		ng-toggle="addSelect">
        		Add Product
        	</button>
        </div>
        <div class="well span8 offset2" ng-show="addSelect">
        	<form>
        	       Product:<input/><br/>
        	       Initial Quantity:<input/><br/> 
                       Supplier:<input/><br/>
                       SKU:<input/><br/>
                       Price:<input/><br/>
                       Last Ordered:<input/><br/>
        	</form>
        </div>