<section>
<div data-ng-controller="InventoryController"
     data-ng-init="find()">  
  <div class="container-fluid">
    <div class="row-fluid">
      <header class="span8 offset2">
        <h1>Add New Item:</h1>
      </header>
      </div>  
          <div class="well span8 offset2">
          	<form action="/addItem" method="post">
                   Store: <select ng-model="selectedStore" name="selectedStore">
                            <option value="all">All</option>
                            <option data-ng-repeat="storeinventory in inventory" value="{{storeinventory.store}}">{{storeinventory.store}}</option>
                          </select><br/>
          	       Product:<input type="text" name="product"/><br/>
          	       Initial Quantity:<input type="text" name="qty"/><br/> 
                         Supplier:<input type="text" name="supplier"/><br/>
                         SKU:<input type="text" name="sku"/><br/>
                         Price:<input type="text" name="price"/><br/>
                         Reorder when <input type="text" name="reorderLimit"/> left<br/>
                         Last Ordered:<input type="text" name="lastOrdered"/><br/>
                         <input type="submit" class="btn btn-success" value="Add Item"/>
          	</form>
          </div>
    </div>
</div>
</section>