.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:50px;
    width:90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

body, .hero-unit {
    background-color: black;
    color: white;
}

form {
    color: black;
}

form h1 {
  color: white;
}

.highlight {
  color: #E6399B;
}

.well {
    margin-top: 10px;
    color: black;
}
.center {
    margin: 0 auto;
}

.pad-right {
    margin-right: 10px;
    padding-right: 10px;
}

.pad-left {
    margin-left: 5px;
    padding-left: 5px;
}

.border-row {
    border-left: 0.75px;
    border-right: 0.75px;
    border-top: 0.25px;
    border-bottom: 0.25px;
    border-style: dotted;
    padding: 5px;
    min-height: 30px;
}